.produto-container {
    flex-direction: column;
      display: flex;
      gap: 20px;
      align-items: center;
    
      .campos {
        display: flex;
        gap: 20px;
        button {
          height: 40px;
        }
      }
    }