.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
  ul{
    list-style:none;
    text-align: center;
}
li {
    width: 100px;
    height:36px;
    line-height:36px;
    text-align: center;
    display:inline-block;
}
li:hover, .active {
    background-color:#d3d3d3!important;
}


